/* Tailwind CSS already applies a good base. You can use custom classes as needed */
body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: #2d3748;
    padding: 16px;
    font-size: 1.25rem;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #4a5568;
}

input:disabled {
    background-color: #2d3748;
}
